body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.quote-wrapper {
  background: linear-gradient(135deg, #800080, #dd1f1f);
  padding: 20px;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  max-width: 450px;
  height: auto;
  aspect-ratio: 1/1;
}

.icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 15%);
  width: 70px;
  height: 70px;
  padding: 1px;
  z-index: 1;
}

.quote-container {
  background-color: #000;
  color: #f3f5f3;
  padding: 20px;
  text-align: center;
  font-size: 32px;
  width: 80%;
  height: 78%;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.screenshot-btn,
.share-btn,
.btn {
  background-color: #800080;
  color: #fff;
  border: none;
  padding: 12px 22px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 2px;
}

.screenshot-btn:hover,
.share-btn:hover,
.btn:hover {
  background-color: #181717;
}

.advice-text {
  font-size: 22px;
  margin-top: 10px;
  line-height: 1.5rem;
}

footer {
  position: static;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
  /* margin-top: 20px; */
}

footer a {
  text-decoration: none;
  color: #800080;
}

@media screen and (max-width: 767px) {
  .quote-container {
    font-size: 24px;
    top: 55%;
    height: 75%;
  }

  .advice-text {
    font-size: 18px;
  }
}
